@charset "UTF-8";

.right-column {
    text-align: right!important;
  }
  
.left-column {
    text-align: left!important;
  }

.center-column {
  text-align: center!important;
}

.drawing-rev-color{
  /* color:rgba(146, 144, 144, 0.8); */
  background-color: #e3e5e8;
  border: 1px solid #abb0ba; 
}

.drawing-success-color{
  color:rgba(146, 144, 144, 0.8);
  background-color: #e3e5e8;
  border: 1px solid #abb0ba; 
}

/* .drawing-proceeding-color{ */
  /* color:rgba(0, 68, 255, 0.8); */
  /* background-color: #e3e5e8; */
  /* border: 1px solid #abb0ba;  */
/* } */

.drawing-failed-color{
  color:rgba(252, 0, 0, 0.8);
  background-color: #e3e5e8;
  border: 1px solid #abb0ba; 
}

.drawing-preparing-color{
  color:rgba(0, 68, 255, 0.8);
  /* background-color: #e3e5e8;
  border: 1px solid #abb0ba;  */
}

.drawing-comfirmation-color{
  color: #552d2d;
  background-color: rgba(146, 144, 144);
  border: 1px solid #abb0ba; 
}

.drawing-complete-color{
  color:rgba(252, 0, 0);
  background-color: #F7F757;
  border: 1px solid #abb0ba; 
}

.drawing-completing-color{
  background-color:#6FBEF7;
  color:black;  
}
.rg-header-color{
  background-color:#d0e9fa;
  color:black;  
}

.rg-popup-item{
  display: flex;
  align-items: center;
  color: black;
  min-height: 25px;
  font-weight: 500;
  background-color: #f7f7f7;
  box-shadow: 5px,5px
}

.rg-red-color {
  background-color: #ff2222;
}

.rg-orange-color {
  background-color: #ffb452;
}

.rg-deeporange-color {
  background-color: #ff811b;
}

.rg-semi-orange-color {
  background-color: #FFE491;
}

.rg-light-orange-color {
  background-color: #fffa99;
}

.rg-sky-color {
  background-color: #d4f4fA;
}

.rg-semired-color {
  background-color: #ffd9ec;
}

.rg-column-gray-color {
  background-color: #f7f1f1;
}

.rg-column-green-color {
  background-color: #92D050;
}

.rg-column-lightgreen-color {
  background-color: #aaffaa;
}

.rg-text-white-color {
  color: #f5f4f4;
}

.rg-text-red-color {
  color: #ff2222;
}

.rg-text-red-color-important {
  color: #ff2222;
  font-size: 15px !important;
  font-weight: 500;
}


.rg-text-blue-color {
  color: #0010f5;
}

.rg-text-thickblue-color {
  color: #002d62;
}


.rg-text-black-color {
  color: #000000;
}

.rg-text-orange-color {
  color: #ff9f1b;
}

.rg-text-deeporange-color {
  color: #ff811b;
}

.rg-text-pink-color {
  color: #f807b0;
}

.rg-text-green-color {
  color: #50c878;
}

.rg-text-semired-color {
  color: #ff6666;
}

.rg-column-color1 {
  background-color: #FCDADB !important;
}

.rg-column-color1A {
  background-color: #fcdaea !important;
}

.rg-column-color2 {
  background-color: #FFECDF !important;
}

.rg-column-color2A {
  background-color: #fff2df !important;
}

.rg-column-color3 {
  background-color: #FFFDD7 !important;
}

.rg-column-color4 {
  background-color: #D1F1DB !important;
}
.rg-column-color4A {
  background-color: #def3e5 !important;
}

.rg-column-color5 {
  background-color: #D1EEFB !important;
}

.rg-column-color6 {
  background-color: #DBDDF7 !important;
}

.rg-column-color7 {
  background-color: #F0DAF0 !important;
}

.rg-column-color8 {
  background-color: #ffe0b8 !important;
}

.rg-column-color9 {
  background-color: #00631f !important;
}


.rg-column-color9:hover {
  color: #0a06f8 !important;
}


.rg-column-color10 {
  background-color: #795b0a !important;
}

.rg-column-color10:hover {
  color: #0a06f8 !important;
}


.rg-column-color11 {
  background-color: #fffb00 !important;
}

.rg-column-color11:hover {
  color: #0a06f8 !important;
}
.rg-column-color12 {
  background-color: #c5daf5 !important;
}
.rg-column-color13 {
  background-color: #c5e6f5 !important;
}
.rg-column-color14 {
  background-color: #fff6d7 !important;
}

.rg-column-color-1 {
  background-color: #ffb3b3 !important;
  color: #424242;
}

.rg-column-color-2 {
  background-color: #ffeab3 !important;
  color: #424242;
}

.rg-column-color-3 {
  background-color: #b8eecf !important;
  color: #424242;
}

.rg-column-color-4 {
  background-color: #C8F9FA !important;
  color: #424242;
}

.rg-disable-cell {
  background-color: #E6E6E6;
}

.rg-text-line-through {
  text-decoration: line-through;
}

.rg-data-space {
  white-space: pre;
  text-align: left;
 }

.center_custom_renderer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_custom_renderer > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.grid_print_button {
	height: 26px;
  margin-left: 2px;
  border-radius: 5px;
	background: url(../images/img_print.png) center center no-repeat;
  flex: 0 0 45px;
  cursor: pointer;
}
.grid_print_button:hover {
	background: url(../images/img_print_hover.png) center center no-repeat;
  cursor: pointer;
}
.grid_print_button:active {
	background: url(../images/img_print_down.png) center center no-repeat;
  cursor: pointer;
}

.grid_file_button {
	height: 26px;
  margin-left: 2px;
	background: url(../images/img_filebtn.png) center center no-repeat;
  flex: 0 0 45px;
  cursor: pointer;
}
.grid_file_button:hover {
	background: url(../images/img_filebtn_hover.png) center center no-repeat;
  cursor: pointer;
}
.grid_file_button:active {
	background: url(../images/img_filebtn_down.png) center center no-repeat;
  cursor: pointer;
}

.grid_popup_button {
	height: 26px;
  margin-left: 2px;
	background: url(../images/img_popup_24.png) center center no-repeat;
  flex: 0 0 45px;
  cursor: pointer;
}
.grid_popup_button:hover {
	background: url(../images/img_popup_24.png) center center no-repeat;
  cursor: pointer;
}
.grid_popup_button:active {
	background: url(../images/img_popup_24.png) center center no-repeat;
  cursor: pointer;
}

.grid_init_button {
	height: 26px;
  margin-left: 2px;
	background: url(../images/img_init_24.png) center center no-repeat;
  flex: 0 0 45px;
  cursor: pointer;
}
.grid_init_button:hover {
	background: url(../images/img_init_24.png) center center no-repeat;
  cursor: pointer;
}
.grid_init_button:active {
	background: url(../images/img_init_24.png) center center no-repeat;
  cursor: pointer;
}

.grid_fileDown_button {
	height: 24px;
  margin-left: 2px;
	background: url(../images/img_filedown.png) center center no-repeat;
  flex: 0 0 45px;
  cursor: pointer;
}
.grid_fileDown_button:hover {
	background: url(../images/img_filedown.png) center center no-repeat;
  cursor: pointer;
}
.grid_fileDown_button:active {
	background: url(../images/img_filedown.png) center center no-repeat;
  cursor: pointer;
}

.grid_filedelete_button {
	height: 24px;
  margin-left: 2px;
	background: url(../images/img_filedelete.png) center center no-repeat;
  flex: 0 0 45px;
  cursor: pointer;
}
.grid_filedelete_button:hover {
	background: url(../images/img_filedelete.png) center center no-repeat;
  cursor: pointer;
}
.grid_filedelete_button:active {
	background: url(../images/img_filedelete.png) center center no-repeat;
  cursor: pointer;
}

.grid_date_button {
	height: 26px;
  margin-left: 2px;
	background: url(../images/img_datebtn.png) center center no-repeat;
  flex: 0 0 45px;
  cursor: pointer;
}
.grid_date_button:hover {
	background: url(../images/img_datebtn_hover.png) center center no-repeat;
  cursor: pointer;
}
.grid_date_button:active {
	background: url(../images/img_datebtn_down.png) center center no-repeat;
  cursor: pointer;
}

.rg-selection {
  background: rgba(43, 94, 189, 0.2) !important;
  border: 1px solid rgba(0, 19, 124, 0.67);
}

.rg-focus {
  /* 포커스 셀의 색깔 변경 */
  border: 3px solid rgba(0, 19, 124, 0.5);
}

.rg-fontSize-9 {
  font-size: 9px;
  font-weight: 500;
}

.rg-fontSize-10 {
  font-size: 10px;
  font-weight: 500;
}

.rg-fontSize-11 {
  font-size: 11px;
  font-weight: 500;
}

.rg-fontSize-12 {
  font-size: 12px;
  font-weight: 500;
}

.rg-fontSize-13 {
  font-size: 13px;
  font-weight: 500;
}

.rg-fontSize-14 {
  font-size: 14px;
  font-weight: 500;
}

.rg-font-bold {
  font-weight: 600;
}

.rg-cursor-pointer {
  cursor: pointer;
}

.multi-line-css {
  white-space: pre;
}

.multi-line-pre-wrap {
  white-space: pre-wrap;
}

.multi-line-pre-line {
  white-space: pre-line;
}

.rg-vertical-align-top {
 vertical-align: top; 
}

.rg-vertical-align-top-padding {
  vertical-align: top; 
  padding-top: 5px !important;
 }

.rg-checkbox-not-allowed, .rg-checkbox-not-allowed > div > input {
  cursor: not-allowed;
}

.rg-fixed-body .rg-data-row {
  background-color: #fff; 
}

.rg-fixed-body .rg-alternate-row {
  background-color: #fff; 
}

.rg-operator-background-color {
  background-color: #d3ecc1;
}

.rg-operator-options-background-color {
  background-color: #E2EFDA;
}

.rg-stem-background-color {
  background-color: #D9E1F2;
}

.rg-extension-stem-background-color {
  background-color: #B4C6E7;
}

.rg-drain-background-color {
  background-color: #FFF2CC;
}

.rg-post-indicator-background-color {
  background-color: #FCE4D6;
}

.rg-weight-balance-option-color {
  background-color: #D6DCE4;
}

.rg-dashpot-option-color {
  background-color: #ACB9CA;
}

.rg-steam-blowing-option-color {
  background-color: #8497B0;
}

.rg-extension-stem-extention-bonnet-color {
  background-color: #B4C6E7;
}

.rg-drain-vent-sealant-option-color {
  background-color: #FCE4D6;
}

.rg-crygenic-parts-color {
  background-color: #5B9BD5;
}


.rg-renderer:hover .custom-hover {
  visibility: visible;
}

.rg-renderer .custom-hover {
  visibility: hidden;
}


.rg-renderer .custom-focused {
  visibility: visible;
}

.custom_renderer_btn_div {
  position: absolute; 
  overflow: hidden; 
  height: 16px; 
  right: 0px; 
  top: 3px; 
  width: 16px;
}

.custom_renderer_btn_div_button1 {
  position: absolute; 
  display: inline-block; 
  height: 100%; 
  top: 0px; 
  right: 0px; 
  width: 16px;
}

.custom_renderer_height {
  /* background: #DDEBF7; */
  height: 23px !important
}

.custom_renderer_bg {
  background: #FFF6F6;
  /* border: 0.1rem solid #abb0ba !important; */
}

.custom-none-visibility {
  visibility: hidden !important;
}

.rg-text-decoration-line-through {
  text-decoration: line-through;
}

.rg-Custom1 {
  width: 100px;
  height: 41px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #aaffaa;
  border: 1px solid rgba(159, 159, 159, 0.67);
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.rg-Custom2 {
  width: 100px;
  height: 41px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fffa99;
  border: 1px solid rgba(159, 159, 159, 0.67);
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.rg-Custom3 {
  font-size: 10px;
}

.rg-Custom4 {
  height: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rg-Custom5 {  
  height: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #c2c2c2;
}

.rg-Custom6 {
  height: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #8fc0f5;  
}

.rg-ItemBorder {
  width: 90px;
  border: 1px solid rgba(159, 159, 159, 0.67);
  border-radius: 3px;
  cursor: pointer;
}

.rg-ItemBorderDel {
  width: 90px;
  border: 1px solid rgba(159, 159, 159, 0.67);
  border-radius: 3px;
  cursor: pointer;
  background-color: #ff6666;
}